$header_height=70px;
$header_bg=#303133;
$header_color=#fff;

$nav_width=200px;

.container{
    background #fff;
    min-height: 100px;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 20px;
}